<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>PC Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none;
      }
    }
  </style>
</head>
<body>
<div th:replace="fragments/navbar.html :: topnav"></div>
<div th:replace="/_modals.html :: shopping-cart-modal"></div>
<div class="about-section">
    <h1>A brief description of this Project</h1>
    <p>Below you will find a few pointers describing what this project is about.</p>
</div>

<h2 style="text-align:center">A Personal Computer Shop</h2>
<div class="about-section">
    <h3>Simulating a Computer Shop</h3>
    <p>Users will be able to browse Computers, add them to Carts and buy them. Furthermore they will be able to check their Purchase History,
    their Account Summary and Delete their account if they choose.

    Admins will be able to edit/add users and towers as well as remove them. Admins are also able to do the same actions users can.</p>
</div>