<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>PC Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<div th:replace="fragments/navbar.html :: topnav"></div>
<div th:replace="/_modals.html :: shopping-cart-modal"></div>

<div class="container">
    <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" th:text="${tower.name}"></div>
                    <div class="panel-body"><img th:src=${tower.imageSource} class="img-responsive" style="width:100%" alt="Image">
                    <p>Model: <span th:text="${tower.model}"></span></p>
                    <p th:if="${tower.hasWarranty == true}">Warranty: <span th:text="${tower.warrantyLength} + ' years'"></span></p>
                    <p>Processor: <span th:text="${tower.processor}"></span></p>
                    <p>GPU: <span th:text="${tower.GPU}"></span></p>
                    <p>Motherboard: <span th:text="${tower.motherboard}"></span></p>
                    <p>RAM: <span th:text="${tower.RAM}"></span></p>
                    <p th:if="${tower.hasHDD == true}">HDD: <span th:text="${tower.HDD}"></span></p>
                    <p th:if="${tower.hasSSD == true}">HDD: <span th:text="${tower.SSD}"></span></p>
                    <p>Case: <span th:text="${tower.towerCase}"></span></p>
                    <p>Power Supply: <span th:text="${tower.powerSupply}"></span></p>
                    <p>Cooling: <span th:text="${tower.cooling}"></span></p>
                    <p>Front Panel: <span th:text="${tower.frontPanel}"></span></p>
                    <p>Back Panel: <span th:text="${tower.backPanel}"></span></p>
                    <p>Networking: <span th:text="${tower.networking}"></span></p>
                    <p th:if="${tower.hasOpticUnit == true}">Optic Unit: <span th:text="${tower.opticUnit}"></span></p>
                    <p th:if="${tower.hasOperatingSystem == true}">OS: <span th:text="${tower.operatingSystemName}"></span></p>
                    <br>
                    <br>
                    <p>Price: <span th:text="${tower.price} + '$'"></span></p>
                    <p th:if="${tower.hasPaymentPlan == true}">Supports Payment Plan!</p>
                        <a th:href="@{/addToCart/{id}(id=${tower.id})}"><input type="button" value="Buy Now!" style="float: right; background-color: #4CAF50; color: white; border: none; font-size: 20px; border-radius: 12px;"></a>
                    </div>
                </div>
            </div>
    </div>
</div>


<br>
</div><br><br>

</body>
</html>